---
import Container from "./Container.astro";
import { translations } from "../locales.ts";


const currentPath = Astro.url.pathname;
const currentLang = currentPath.split('/')[1] || 'sk';
const t = translations[currentLang] || translations.sk;

const languages = [
  { code: "sk", label: "Slovensky" },
  { code: "en", label: "English" },
  { code: "de", label: "Deutsch" }
];

const languageLinks = languages.map(lang => ({
  code: lang.code,
  label: lang.label,
  url: currentPath.replace(`/${currentLang}`, `/${lang.code}`)
}));
---

<footer class="py-12 bg-gray-900 text-gray-300">
  <Container>
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v22.0&appId=274436994821158"></script>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Sídlo -->
      <div>
        <h3 class="border-b border-gray-700 text-lg font-bold text-white mb-4">{t.footerCity}</h3>
        <p class="leading-relaxed">
          <b>{t.title}</b><br>
          Čierne 407<br>
          023 13 Čierne<br>
        </p>
        <p class="mt-2">
          <b>{t.footerGps}</b><br>
          49.49201041705905"N<br>
          18.822118021845533"E
        </p>
      </div>
      <!-- Kontakty -->
      <div>
        <h3 class="border-b border-gray-700 text-lg font-bold text-white mb-4">{t.footerContact}</h3>
        <p class="leading-relaxed">
          <b>Jakub Šimčisko:</b><br>
          <a href="tel:+421919285912" class="text-gray-300 hover:text-white">+421 919 285 912</a>
        </p>
        <p class="mt-2">
          <b>E-mail:</b><br>
          <a href="mailto:info.simelgroup@gmail.com" class="text-gray-300 hover:text-white">info.simelgroup@gmail.com</a>
        </p>
      </div>
      <!-- Facebook -->
      <div>
        <h3 class="border-b border-gray-700 text-lg font-bold text-white mb-4">{t.footerWhere}</h3>
        <div class=" gap-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5183.237240210045!2d18.820229746906787!3d49.49171075090206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47143fd87ed7fcdf%3A0xfec590609a9d1092!2zxIxpZXJuZSwgMDIzIDEzIMSMaWVybmU!5e0!3m2!1scs!2ssk!4v1739795556078!5m2!1scs!2ssk" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </Container>
</footer>
